@import 'tailwindcss';

@theme {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  --color-bg: #000000;
  --color-hero: #ffffff;
  --color-main: #aaaaaa;
  --color-accent: #f24547;
  --color-light-white: #ffdfda;
}

@layer base {
  html,
  body {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-style: var(--font-body);
  }

  p {
    color: var(--color-main);
    font-style: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  button {
    @apply cursor-pointer;
  }
}
