@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;

  --color-bg: #000000;
  --color-hero: #FFFFFF;
  --color-main: #AAAAAA;
  --color-accent: #F24547;
  --light-white: #FFDFDA;
}

html, body, p {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-style: var(--font-body)
}

h1, h2, h3, h4, h5, h6 {
    @apply font-heading
}

button {
    background-color: var(--color-accent);
    color: var(--light-white);
}


