@import 'tailwindcss';

:root {

}

@theme {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  --color-bg: #000000;
  --color-hero: #ffffff;
  --color-main: #aaaaaa;
  --color-accent: #f24547;
  --color-light-white: #ffdfda;

  --spacing-128: 32rem;

  --breakpoint-xs: 30rem;
}

@layer base {
  html,
  body {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility glass {
  @apply rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl;
}

@layer components {

  header {
     @apply sticky glass top-0 z-50;

     nav {
      @apply max-w-7xl mx-auto flex justify-between items-center px-6 py-4;
     }

     ul {
      @apply hidden gap-5 md:flex;
     }

     .logo {
      @apply text-2xl font-heading text-white tracking-wide;
     }

     .ham-menu {
      @apply text-white text-4xl md:hidden;
     }
  }

  button {
    @apply cursor-pointer text-light-white;
  }

  .grid-image {
    @apply w-full h-full object-cover rounded-lg;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}