@import 'tailwindcss';

@theme {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  --color-bg: #000000;
  --color-hero: #ffffff;
  --color-main: #aaaaaa;
  --color-accent: #f24547;
  --light-white: #ffdfda;
}

@layer base {
  html,
  body,
  p {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-style: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  button {
    background-color: var(--color-accent);
    color: var(--light-white);
  }
}
